<div>
    <button class="btn btn-primary" data-bind="click: mainPowerOn">{{ _('Main Power ON') }}</button>
    <button class="btn" data-bind="click: alert(1)">{{ _('Main Power OFF') }}</button>
    <button class="btn" data-bind="click: alert(2)">{{ _('EMERGENCY STOP') }}</button>
</div>
