<div>
    <button class="btn btn-primary" data-bind="click: mainPowerOn, enabled: canTurnOn">{{ _('Main Power ON') }}</button>
    <button class="btn" data-bind="click: mainPowerOff, enabled: canTurnOff">{{ _('Main Power OFF') }}</button>
    <button class="btn" data-bind="click: eStop">{{ _('EMERGENCY STOP') }}</button>
</div>
